.wrapper {
    border: 0.15rem solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5em;
    padding: 0 0.5rem;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    span {
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        width: auto;
        padding: 0 0.5rem;
    }

    input {
        height: 3.5rem;
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: none;
        padding: 0 1rem;
        flex-grow: 1;
        margin: 0;
    }

    button {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 0.25em;
        border: none;
        background-color: #222228;
        color: #ffffff;
        transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    .pickerWrapper {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 100;

        .picker {
            width: 100%;
            height: 15rem;
            border: 0.15rem solid rgba(255, 255, 255, 0.25);
            border-top: none;

            > div {
                border-radius: 0;
            }
        }
    }
}

.copy {
    font-size: 0.8rem;
    font-weight: 500;
    display: block;
    background-color: transparent;
    border: none;
    text-underline-offset: 0.2em;
    padding: 0;
    background-color: #222228;
    color: rgba(255, 255, 255, 0.7);
    padding: 0.5em 1rem;
    border-radius: 2.5rem;
    transition: all 250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
        color: #FFF
    }
}