.container {
    flex: 0 0 auto;
    width: 100%;
    padding: 10vw 5vw;
    
    @media (min-width: 1130px) {
        flex: 0 0 auto;
        width: 60%;
    }

    @media (max-width: 1130px) and (min-width: 480px) {
        padding: 5rem 10vw 5rem;
    }

    @media (max-width: 480px) {
        padding: 2.5rem 5vw 5rem;
    }

    .demoContent {
        padding-top: 3rem;

        .lineThrough {
            text-decoration: line-through;
        }

        .iconsContainer {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: .8rem;
            margin-bottom: 2rem;
        }

        .largeContent {
            margin-bottom: 1rem;
            font-size: 24px;

            strong {
                display: block;
                margin-bottom: 1rem;
            }
        }

        .normalContent {
            font-size: 16px;

            strong {
                display: block;
                margin-bottom: 1rem;
            }
        }

        p {
            line-height: 1.5;
        }

        .buttonsWrap {
            margin-top: 2rem;
            gap: 1rem;
            display: inline-flex;

            @media (max-width: 360px) {
                display: grid;

                a button {
                    width: 100%;
                }
            }

            button {
                padding: .75rem 1rem;
                border-width: 1px;
                border-style: solid;
                border-radius: .25rem;
                background-color: transparent;

                svg {
                    vertical-align: bottom;
                }
            }
        }
    }
}